# Lección - Variables y tipos

Link a la libreta: https://github.com/isaachsgel/CursoPython/blob/main/Curso_modulo_1_y_2/Modulo-02-variables.ipynb

**Debes hacer tu propia copia de este cuaderno seleccionando main->download zip en la barra de menú de arriba.**


Aprenderás:
- Tipos básicos de datos en Python
- Crear y asignar valores a variables en Python
- Llamar una función

## Variables

Cualquier intérprete de python se puede usar como calculadora:

In [1]:
print(3 + 5 * 4)

23

Esto es bueno pero no muy interesante.
Buscar más potencial, debe asignarse valores a una _variable_.
En Python, la forma es sencilla; simplemente `=`.

Cuando no existe variable guardando una valor, queda predefinida. Si ya existe un valor y se lo asignas nuevamente, se sobreescribe y lo reemplaza.

Ejemplos

    instructor = "Isaach"       # string 
    instructor = "Isaach malvado" # string 
    instructor = 23             # integer (entero)
    temp_amb_afuera_hoy = 37.3     # float 

Podemos seguir el recorrido de una mascota al hacer ejercicio en un parque asignado  el valor `4` a una variable `recorrido_km`:

In [2]:
recorrido_km = 4
print(recorrido_km)

4

Desde ahora, cuando se use`recorrido_km`, Python sustituirá el valor que se le ponga. Es decir, **una variable es una referencia a un valor*.

En Python, los nombres de variables incluyen:

 - letrass, dígitos, y guión bajo 
 - no pueden empezar en dígito

Esto significa:
 - `recorrido0` es un nombre válido, `0recorrido` no
 - `recorrido` y `Recorrido` son variables distintas

### Palabras especiales

Las siguientes palabras tienen un significado especial en Python. Las llamamos palabras clave o palabras reservadas y no puede utilizar estos nombres para las variables de su programa.

> ```and, as, assert, break, class, continue, def, del, elif, else, except, False, finally, for, from, global, if, import, in, is, lambda, nonlocal, None, not, or, pass, raise, return, True, try, while, with, yield```

## Datos más utilizados
Python y sus tres datos más comunes son:

* integer 
* float
* string

En el ejemplo anterior, la variable `recorrido_km` se le asigno un valor entero de `4`. Si queremos realizar un seguimiento más preciso de nuestra mascota,
podemos usar un valor de punto flotante(floating point value) ejecutando:

In [3]:
recorrido_km = 4.0
print(recorrido_km)

4.0

Para crear un string, se agregan comillas o doble comillas al texto.
Para identificar y seguir a una mascota o de repente a varias,
se crea un identificador a cada una como string:

In [10]:
Collie_id = "001"
print(Collie_id)

001

## Datos numéricos

Python trabaja con los dos más importantes
* int, enteros arbitrarios de tamaño tangible, como estos:
  * `2024`
  * `-999999999999`
* float, números precisos con decimales, como estos:
  * `3.14159`
  * `6.02 * 10**23`

En la mayoría de los casos, no tienes que preocuparte por qué tipo de número utilizar - Python se encargará de eso por ti. El punto decimal le dice a Python cuál usar.

Mezclar enteros(int) y decimales(float) resulta en decimal, ejemplo, `2024 * 3.14` resulta en decimal.

Haga los siguientes ejercicios:

```
print(5 - 6)  
print(8 * 9)
print(6 / 2)
print(5.0 / 2)
print(5 % 2)  
print(2 * 10 + 3)  
print(2 * (10 + 3))  
print(2 ** 4)
```
¿Cuál resultado no esperaba?

In [ ]:
print(5 - 6)
print(8 * 9)
print(6 / 2)
print(5.0 / 2)
print(5 % 2)
print(2 * 10 + 3)
print(2 * (10 + 3))
print(2 ** 4)
print(8 % 3)

-1
72
3.0
2.5
1
23
26
16
2

## Usando variables

Una vez que tenemos datos almacenados con nombres de variables, podemos hacer uso de esas variables en nuestros cálculos. A estas combinaciones de variables y valores las llamamos **expresiones**. Al evaluar una expresión, Python reemplaza internamente los nombres de las variables por los valores a los que se refieren.

In [7]:
recorrido_mi = 0.6 * recorrido_km
print(recorrido_mi)

2.4

También podríamos decidir añadir un prefijo a nuestro identificador de mascota:

In [11]:
Collie_id = "Samantha_" + Collie_id
print(Collie_id)

Samantha_001

## Funciones predefinidas

Para realizar tareas comunes con datos y variables en Python,
el lenguaje nos proporciona varias funciones incorporadas.
Para mostrar información en la pantalla, utilizamos la función `print`:

In [12]:
print(recorrido_mi)
print(Collie_id)

2.4
Samantha_001

Cuando queremos hacer uso de una función, lo que se denomina **llamar a la función**, acompañamos su nombre de paréntesis. Los paréntesis son importantes: si los omites, la función no se ejecuta.

A veces incluirás valores o variables dentro de los paréntesis para que la función los utilice. En el caso de `print`,
usamos los paréntesis para decirle a la función qué valor queremos mostrar. Aprenderemos más sobre cómo funcionan las funciones y cómo crear las nuestras en lecciones posteriores.

In [14]:
print(Collie_id, "recorrido en km:", recorrido_km)

Samantha_001 recorrido en km: 4.0

También podemos llamar a una función dentro de otra. Por ejemplo, Python tiene una función integrada llamada `type` que te dice el tipo de datos de un valor:

In [15]:
print(type(111.1))
print(type(Collie_id))

<class 'float'>
<class 'str'>

También podemos hacer operaciones aritméticas con variables dentro de la función `print`:

In [16]:
print("recorrido en millas :", 0.6 * recorrido_km)

recorrido en millas : 2.4

Note que llamar a la función no cambia `recorrido_km`:

In [17]:
print(recorrido_km)

4.0

Para cambiar `recorrido_km` , debe
**asignar** un nuevo valor a `recorrido_km` usando `=` :

In [18]:
recorrido_km = 6.0
print("recorrido en km es ahora:", recorrido_km)

recorrido en km es ahora: 6.0

## Práctica

Adivina antes d ejecutar..

In [23]:
masa = 48.5
print("la masa es", masa)
print("edad es", edad)

la masa es 48.5

NameError: name 'edad' is not defined

In [25]:
edad = 91
print("la masa es", masa)
print("edad es", edad)

la masa es 48.5
edad es 91

In [26]:
masa = masa * 2.0
print("la masa es", masa)
print("edad es", edad)

la masa es 97.0
edad es 91

In [28]:
edad = edad - 20
print("la masa es", masa)
print("edad es", edad)

la masa es 97.0
edad es 71

## Referencias
Python permite asignar varios valores a varias variables en una línea separando las variables y los valores con comas. ¿Qué imprime el siguiente programa?

In [29]:
a, b = "Benji", "Piper"
print(a, b)

Benji Piper

In [30]:
primerpuesto, segundopuesto = "Firulin", "Bayo"
tercerpuesto, cuartopuesto = segundopuesto, primerpuesto
print(tercerpuesto, cuartopuesto)

Bayo Firulin

## Ver  los tipos de data

¿Cuáles son los tipos de datos de las siguientes variables? Intenta adivinarlo antes de ejecutar la celda.

In [31]:
planeta = "Tierra"
naranjas = 5
distancia = 10.5
print(type(planeta))
print(type(naranjas))
print(type(distancia))

<class 'str'>
<class 'int'>
<class 'float'>

## Puntos destacados
- Tipos básicos incluye integers, strings, y float.
- Usa `variable = value` para asignar valores yq que queden en la memoria.
- Variables se crean en demanda de lo que se busca estimar o retornar del intérprete.
- Usa `print(algo)` para presentar en pantalla el valor de `algo`.
- Las funciones predefinidas siempre están disponibles.

# Tarea

¿Cuáles son nombres de variables permitidos en python?
```
diploma = 1
Máx = 1
BadBunny = 1  
_To_ki_sha = 1
BoteMovilInvisible = 1    
3_tristes_tigres = 1  
dos_tigres_1 = 1  
aprobados = 1  
mi-gato-es-ninja = 1
mi_gato_habla_gatino = 1  
```

En una línea, calcula las horas semanales que holgazaneas si a diario procrastinas 3 horas(es un escenario totalmente hipotético).

Almacena tu déficit productivo en una variable.

Usa la variable para estimar el tiempo mensual y compáralo con tus horas de sueño, aproximadamente 6 horas por día.

Felicidades - tienes el potencial de aumentar tus días de descanso mensual en 15 adicionales, vacaciones oficiales. Ahora asigna un nuevo valor al déficit

Recalcula el tiempo mensual.

Calcula e imprime para una semana y anualmente asumiendo 30 días para los meses y 365 días al año.

Imprime tu nombre, segundo nombre y apellido en una línea

Introducción a dataset

In [50]:
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Ahora busque un dataset y llamelo a python

In [51]:
player = 'Roger Federer'
df = pd.read_csv('https://github.com/ipython-books/'
                 'cookbook-2nd-data/blob/master/'
                 'federer.csv?raw=true',
                 parse_dates=['start date'],
                 dayfirst=True)

Veamos

In [52]:
df.head(3)

,year,tournament,start date,type,surface,draw,atp points,atp ranking,tournament prize money,round,...,player2 2nd serve return points total,player2 break points converted won,player2 break points converted total,player2 return games played,player2 total service points won,player2 total service points total,player2 total return points won,player2 total return points total,player2 total points won,player2 total points total
0,1998,"Basel, Switzerland",1998-10-05,WS,Indoor: Hard,Draw: 32,1,396.0,"$9,800",R32,...,22.0,4.0,8.0,8.0,36.0,50.0,26.0,53.0,62.0,103.0
1,1998,"Toulouse, France",1998-09-28,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R32,...,19.0,0.0,1.0,8.0,33.0,65.0,8.0,41.0,41.0,106.0
2,1998,"Toulouse, France",1998-09-28,WS,Indoor: Hard,Draw: 32,59,878.0,"$10,800",R16,...,30.0,0.0,4.0,10.0,46.0,75.0,23.0,73.0,69.0,148.0

Agrega booleanos

In [53]:
df['win'] = df['winner'] == player
df['win'].tail()

1174    False
1175     True
1176     True
1177     True
1178    False
Name: win, dtype: bool

Para los datos en series como los dataset, es posible aplicar directamente estadistica descriptiva

In [54]:
won = 100 * df['win'].mean()
print(f"{player} has won {won:.0f}% of his matches.")

Roger Federer has won 82% of his matches.

Fechas importantes

In [55]:
date = df['start date']

Permitiendo estimar indicadores cualitativos (en este caso faltas cometidos en un periodo para saber estado anímico y emocional de un jugador)

In [56]:
df['dblfaults'] = (df['player1 double faults'] /
                   df['player1 total points total'])

Observe

In [57]:
df['dblfaults'].tail()

1174    0.018116
1175    0.000000
1176    0.000000
1177    0.011561
1178         NaN
Name: dblfaults, dtype: float64

Observe

In [58]:
df['dblfaults'].describe()

count    1027.000000
mean        0.012129
std         0.010797
min         0.000000
25%         0.004444
50%         0.010000
75%         0.018108
max         0.060606
Name: dblfaults, dtype: float64

 Funciones predefinidas como `groupby()` permiten agrupar filas con el mismo valor en una columna.

In [59]:
df.groupby('surface')['win'].mean()

surface
Indoor: Carpet    0.736842
Indoor: Clay      0.833333
Indoor: Hard      0.836283
Outdoor: Clay     0.779116
Outdoor: Grass    0.871429
Outdoor: Hard     0.842324
Name: win, dtype: float64

¡Felicidades por llegar has aquí! Toma un tour por youtube y mira tutoriales de python que te llamen la atención

**Es una buena idea guardar tu trabajo después de una sesión de bloc de notas.** Puedes utilizar la paleta de comandos para hacerlo, como acabas de hacer en la celda anterior, pero como se trata de una función común, verás una forma más fácil de guardar tu bloc de notas a través de la opción de menú Archivo->Guardar.


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[Próxima Lección]()